<md-dialog aria-label="Autocomplete Dialog Example">

  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Autocomplete Dialog Example</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="share.cancel()">
        X
      </md-button>
    </div>
  </md-toolbar>

  <md-dialog-content ng-cloak>
    <div class="md-dialog-content">
      <p>Choose a user to share</p>
      <md-autocomplete
              md-no-cache="true"
              placeholder="Who would you like to share?"
              md-item-text="user.name"
              md-items="user in share.users"
              md-menu-class="autocomplete-custom-template"
              md-min-length="2"
              md-delay="share.throttle"
              md-search-text="share.searchText"
              md-search-text-change="share.searchTextChange(share.searchText)"
              md-select-on-match=true
              md-match-case-insensitive=true
              md-selected-item-change="share.selectedItemChange(user)"
              md-selected-item="share.selectedItem">

        <md-item-template>
          <span class="item-title">
            <span md-highlight-flags="^i" md-highlight-text="share.searchText">
              {{user.name}}
            </span>
          </span>
        </md-item-template>
        <md-not-found>
          No match found.
        </md-not-found>

      </md-autocomplete>
    </div>
  </md-dialog-content>

  <md-dialog-actions>
    <md-button aria-label="Share" ng-click="share.send()">Share</md-button>
  </md-dialog-actions>
</md-dialog>